<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="Chrome" />
	<parameter name="siteURL" value="https://staging.learn.mycaptain.in/auth" />
<parameter name="procourseURL" value="https://staging.app.mycaptain.in/lms/course/1132?subId=7544" />
	<test name="Test">
		<classes>
			<class name="com.mycaptain.test.ProCourseTest"></class>
		</classes>
	</test> 
</suite> 
